<app-nav pageTitle="Preferences" [showBackButton]="true"></app-nav>

<ion-content>
  <ion-list class="ion-padding-vertical">
    <ion-item>
      <ion-label>Enable Dark Mode</ion-label>
      <ion-toggle (ionChange)="handleThemeChange($event)" color="light" slot="end" [checked]="darkThemeEnabled">
      </ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Playback Voice</ion-label>
      <ion-select [value]="selectedVoice" (ionChange)="handleSelectVoiceChange($event)" placeholder="Loading...">
        <ion-select-option *ngFor="let item of voices" [value]="item">
          {{item.default ? '(Default) ' + item.name : item.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Minimum volume to play audio comments</ion-label>
      <ion-range [value]="minVolume" (ionChange)="handleMinVolumeChange($event)" size="small" [pin]="true"></ion-range>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Speech Speed Rate</ion-label>
      <ion-range [value]="speechRate" (ionChange)="handleSpeechRateChange($event)" size="small" [pin]="true">
      </ion-range>
    </ion-item>
  </ion-list>
</ion-content>