.comment-item {
    width: 100%;
    background: #f1f1f1;
    padding: 1rem 1em 0.5em;
    font-size: 1em;
    border-radius: 14px;
    white-space: pre-wrap;

    &.speak {
        background: #d3f2f5;
    }

    .metadata {
        font-size: 0.75em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0.5rem 0;

        p {
            justify-self: flex-end;
            flex-grow: 1;
            text-align: right;
            margin: 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .comment-item {
        background: #3b3b3b;

        &.speak {
            background-color: #3160ab
        }
    }

}