<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button>
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>TrailApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>User Information</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="nav-content">
      <div class="user-container">
        <div class="avatar">
          <ion-icon name="person-circle-outline" class="avatar-alt"></ion-icon>
        </div>
        <div class="user-info">
          <div class="display-name">{{user.displayName}}</div>
          <div class="email">{{user.email}}</div>
        </div>
      </div>
      <ion-button (click)="logout()" color="danger">Logout</ion-button>
    </div>

  </ion-content>
</ion-menu>


<ion-content [fullscreen]="true" id="main">
  <ion-list #slidingList lines="none" *ngFor="let item of comments">

    <ion-item-sliding>
      <ion-item lines="none">
        <app-comment [commentId]="item.id" [comment]="item"></app-comment>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="editComment(item)">
          <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>



  </ion-list>

  <div class="form-container">
    <form>
      <div class="form-row">
        <ion-textarea value="{{commentText}}" (change)="handleChange($event)"
          placeholder="Enter more information here..."></ion-textarea>
        <ion-button *ngIf="!showEditButtons" shape="circle" (click)="saveComment()">
          <ion-icon name="add-outline" size="large"></ion-icon>
        </ion-button>

        <div *ngIf="showEditButtons" class="edit-btn-container">
          <ion-button size="small" (click)="saveComment()">
            Save
          </ion-button>
          <ion-button size="small" (click)="cancelEdit()">
            Cancel
          </ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>